:root {
    /* colours */
    --dark-text: #0A1F20;
    --mid-text: #35817e;
    --light-text: #C2D0C3;
    --light-decoration:#99C5B8; 
    --dark-decoration: #063D3C;
    --background: white;
    --fade: rgba(153, 197, 184, 0.75);
}

body {
    font-family: "Open Sans", sans-serif;
    padding-top: 77px;
    background-color: var(--background);
    color: var(--mid-text);
}

hr {
    border-top: var(--dark-decoration) solid 2px;
}

h1 {
    color: var(--dark-text);
    font-family: Oswald, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin: 6px;
}

h2 {
    color: var(--dark-text);
    font-family: Oswald, sans-serif;
    font-size: 26px;
}

h3 {
    color: var(--dark-text);
    font-family: Oswald, sans-serif;
    font-size: 20px;
}

h4 {
    text-align: center;
    font-family: Oswald, sans-serif;
    font-size: 24px;
}

p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: var(--mid-text);
}

/* Mobile */
@media screen and (min-width:260px) {
    
    /* Button Styling */
    .button {
        border-radius: 8px;
        border: none;
        padding: 12px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
    }

    .main-button {
        background-color: var(--dark-decoration);
        color: var(--light-text);      
    }

    .main-button:hover {
        background-color: var(--background);
        border: solid 2px var(--dark-decoration);
        color: var(--dark-decoration);
    }

    .sec-button {
        background-color: var(--light-decoration);
        color: var(--mid-text);
    }

    .sec-button:hover {
        background-color: var(--background);
        border: solid 2px var(--light-decoration);
        color: var(--mid-text);
    }

    /* Nav Bar */
    .navbar-brand {
        font-family: Barrio;
        font-size: 16px;
        color: var(--mid-text);
    } 

    /* Hero Section */
    #hero-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    #hero-card {
        text-align: center;
        margin: 24px;
        padding: 36px 24px;
        border: solid 2px var(--light-decoration);
        border-radius: 2px;
    }

    /* Info cards */
    #info-cards {
        text-align: center;
        max-width: fit-content;
        margin: 24px;
        padding: 24px 12px;
    }


    /* Line-up Cards */  
    a {
        text-decoration: underline;
        color: var(--main-text);
    }

    .line-up-card {
        background-color: var(--decoration);
        height: fit-content;
        margin: 24px;
        padding: 32px 6px;
        border-radius: 2%;
        display: flex;
        flex-direction: column;
        /* Thanks to developer.mozilla.org for the greyscale filter */
    }

    .artist-image {
        width: 80%;
        margin: 0 auto;
        padding: 0 0 12px 0;
        border-radius: 2%;
    }

    .title-1, .title-2  {
        font-family: Oswald, sans-serif;
        text-align: center;
        font-size: 20px;
    }

    .title-1 {
        font-weight: bold;
        color: var(--main-text)
    }

    .title-2 {
        color: var(--main-text);
    }

    /* Video Section */
    iframe {
        width: 100%;
        height: 225px;
    }

    /* Newsletter Form */
    #newsletter-title {
        background: var(--decoration);
        margin: 12px 24px;
        padding: 24px 12px;
        font-family: Oswald, sans-serif;
        font-size: 28px;
        text-align: center;
        text-transform: uppercase;
        color: var(--head-text);
    }

    #newsletter-title p {
        font-family: Oswald, sans-serif;
        font-size: 16px;
    }

    form {
        margin: 24px;
        padding: 12px;
        border: solid 2px var(--decoration);
        border-radius: 2%;
        color: var(--main-text);
    }

    input {
        margin: 6px;
        padding: 0 6px;
        border: solid 2px var(--decoration);
    }

    #submit {
        background-color: var(--button-2);
        border-radius: 10px;
        border: none;
        color: var(--secondary-text);
        font-weight: bold;
        padding: 6px 12px;
    }

    /* Gallery Section */
    #gallery-title h2 {
        text-align: center;
        padding-bottom: 12px;
        font-size: 20px;
        font-family: Oswald, sans-serif;
    }

    #gallery img {
        width: 100%;
    }

    /* Footer */
    #footer-text {
        text-align: left;
        margin: 24px 0 0 12px;
        padding: 0 24px;
    }

    #footer-logo {
        font-family: Barrio, sans-serif;
        font-size: 24px;
        color: var(--main-text);
    }

    #copyright {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        color: var(--main-text);
    }

    #footer-icon-container {
        color: var(--main-text);
        font-size: 24px;
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
    }

    .footer-icon {
        display: block;
        margin: 0 24px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {d
    h4 {
        font-size: 30px;
    }
    
    /* Nav Bar */
    .navbar-brand {
    font-family: Barrio;
    font-size: 16px;
    color: var(--cc1);
    } 
  
    .navbar {
        height: 50px;
    }

    .nav-item {
        position: relative;
        top: 10px;
    }

    /* Hero Section */
    #hero-img {
        height: 520px;
    }

    #hero-card {
        background-color: var(--fade);
        text-align: left;
        max-width: fit-content;
        max-height: fit-content;
        margin: 0 auto;
        padding: 24px;
        position: absolute;
        left: 0px;
        top: 200px;
        border-radius: 0 16px 16px 0;
    }
    
    #hero-card h2 {
        color: var(--main)
    }

    #hero-card h3 {
        font-size: 24px;
        color: var(--cc1);
    }

    #hero-card p {
        color: var(--cc1)
    }

    /* Info Cards */
    #info-cards {
        display: flex;
        justify-items: center;
        width: 100%;
        gap: 12px;
    }

    .info-card span {
        font-size: 30px;
        padding: 6px 0px;
        color: var(--cc4);
    }

    .info-card {
        width: 400px;
        height: fit-content;
        border: var(--fade) solid 2px;
        border-radius: 10%;
        padding: 24px 24px;
        margin: 0 6px;
    }

    .info-card > p {
        color: var(--fade);
    }

    .info-button a {
        color: var(--cc4)
    }

    /* Line Up Info Cards */
    #line-up-img {
        width: 80%;
    }

    #line-up-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    /* Video Section */
    iframe {
        width: 80%;
        height: 400px;
    }

    #video-cont {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

     /* Gallery Section */
     #gallery-title h2 {
        text-align: center;
        padding-bottom: 12px;
        font-size: 32px;
    }

     #gallery {
        line-height: 0;
        column-count: 2;
        column-gap: 0;
    }

    /* Newsletter Form */
    #newsletter-container {
        width:fit-content;
        padding: 24px;
        font-size: 42px;
        
    }

    form {
        width: fit-content;
    }
    
    #about-you {
       width: 100%;
    }

    #submit {
        margin: 0;
    }

    /* Footer */
    #footer-logo {
        text-align: center;
        font-size: 32px;
    }

    #copyright {
        text-align: center;
        font-size: 16px;
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    /* Nav Bar */
    .navbar-brand {
        font-family: Barrio, sans-serif;
        font-size: 24px;
        }
    
    /* Hero Section */
    #hero-section {
        position: relative;
    } 

    #hero-img {
        height: 810px;
        width: 100%;
    }

    #hero-section > #hero-card > h2 {
        font-size: 100px;
    }

    #hero-card {
        background-color: var(--fade);
        text-align: center;
        font-size: 30px;
        width:fit-content;
        max-height: fit-content;
        padding: 36px;
        border-radius: 0 16px 16px 0;
        position: absolute;
        top: 220px;
        left: 0px;
    }

    #hero-card h3 {
        font-size: 36px;
    }

    #hero-button > a {
        font-size: 26px;
    }

    /* Info Card Section */
    #info-cards {
        width: 90%;
        gap: 12px;
        display: flex;
        justify-content: space-between;
    }

    .info-card {
        width: 33%;
        height: 300px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .info-card > p {
        font-size: 20px;
    }

    /* Line Up Info Cards */
    #line-up-img {
        width: 50%;
    }

    #line-up-container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .line-up-card {
        padding: 24px;
    }

    .artist-image {
        width: 90%;
    }

    /* Video Section */
    h4 {
        font-size: 36px;
    }

    iframe {
        width: 75%;
        height: 600px;
    }

    /* Gallery Section */
    #gallery {
        column-count: 3;
    }

    #gallery-title h2 {
        font-size: 42px;
    }

    /* Footer */
    ul li {
        font-size: 30px;
    }

    #footer-logo {
        text-align: center;
        font-size: 36px;
    }

    #copyright {
        text-align: center;
        font-size: 20px;
    }
}
