:root {
    /* colours */
    --dark-text: #102c2e;
    --mid-text: #1e5251;
    --light-text: #C2D0C3;
    --light-decoration:#aed3c8; 
    --dark-decoration: #063D3C;
    --background: white;
    --fade: rgba(174, 211, 200, 0.474);
}

body {
    font-family: "Open Sans", sans-serif;
    padding-top: 50px;
    color: var(--mid-text);
}

hr {
    border-top: var(--dark-decoration) solid 4px;
}

h1, h2, h3, h4, p {
    color: var(--dark-text);
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: Oswald, sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
}

/* Mobile */
@media screen and (min-width:260px) {
    /* General styling */
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 18px;  
    }
    
    p {
        font-size: 16px;
        }

    /* Button Styling */
    .button {
        border-radius: 8px;
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        width: fit-content;
        margin: 0 auto;  
    }

    .main-button {
        background-color: var(--dark-decoration);
        color: var(--light-text); 
    }

    .main-button:hover {
        background-color: var(--background);
        border: solid 2px var(--dark-decoration);
        color: var(--dark-decoration);
    }

    .sec-button {
        background-color: var(--light-decoration);
        color: var(--dark-text);
    }

    .sec-button:hover {
        background-color: var(--background);
        border: solid 2px var(--light-decoration);
        color: var(--dark-text);
    }

    /* Nav Bar */
    .navbar-brand {
        font-family: Barrio;
        font-size: 16px;
        color: var(--dark-text);
    } 

    /* Hero Section */
    #hero-section {
        background-size: auto;
        background: url(../images/hero-img.jpg) no-repeat center center;
        background-size: 120%;
        text-align: center;
        padding: 12px;
    }

    #hero-card {
        text-align: center;
        background-color: var(--fade);
        margin: 12px;
        padding: 12px 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    /* Info cards */
    #info-cards {
        text-align: center;
        margin: 12px 24px;
    }

    .info-card {
        margin: 12px 6px;
        padding: 24px 12px;
        border: solid 2px var(--light-decoration);
        border-radius: 2px;
        display: flex;
        flex-direction: column;
    }

    /* Line-up Cards */  
    a {
        text-decoration: underline;
        color: var(--main-text);
    }

    #line-up-container {
        background-size: cover;
        background: url(../images/hero-img.jpg) no-repeat center center;
        background-size: 100%;
        padding: 24px;
    }

    #line-up-header {
        background-color: var(--fade);
        margin: 12px;
        padding: 12px;
    }

    .line-up-card {
        background-color: var(--light-decoration);
        margin: 24px;
        padding: 24px 6px;
        border-radius: 2;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .artist-image {
        width: 80%; 
    }

    .title-1, .title-2  {
        font-family: Oswald, sans-serif;
        text-align: center;
        font-size: 20px;
    }

    .title-1 {
        color: var(--dark-text);
        font-weight: bolder;
    }

    .title-2 {
        color: var(--mid-text);
        font-weight: regular;
    }

    /* Video Section */
    #video-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    iframe {
        margin: 6px 24px;
        height: 200px;
    }

    /* Newsletter Form */
    #news-container {
        background-size: cover;
        background: url(../images/hero-img.jpg) no-repeat center center;
        background-size: 100%;
        padding: 24px 12px;
    }

    #newsletter-title {
        background: var(--fade);
        margin: 12px 24px;
        padding: 24px 12px;
        text-transform: uppercase;
    }

    #newsletter-title p {
        font-family: Oswald, sans-serif;
        font-size: 16px;
        color: var(--mid-text);
    }

    form {
        margin: 24px;
        padding: 12px;
        border: solid 2px var(--light-decoration);
        color: var(--mid-text);
    }

    input {
        margin: 6px;
        padding: 0 6px;
        border: solid 2px var(--light-decoration);
    }

    #submit {
        background-color: var(--light-decoration);
        border-radius: 10px;
        border: none;
        color: var(--mid-text);
        font-weight: bold;
        padding: 6px 12px;
    }

    /* Gallery Section */
    #gallery-container {
        background-size: cover;
        background: url(../images/hero-img.jpg) no-repeat center center;
        background-size: 100%;
        padding: 12px;
    }
    
    #gallery-title {
        background-color: var(--fade);
        margin: 24px;
        padding: 12px 6px;
    }

    #gallery img {
        width: 100%;
    }

    /* Footer */
    #footer-text {
        text-align: center;
    }

    #footer-logo {
        font-family: Barrio, sans-serif;
        font-size: 24px;
        color: var(--mid-text);
    }

    #copyright {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        color: var(--mid-text);
    }

    #footer-icon-container {
        color: var(--mid-text);
        font-size: 24px;
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
    }

    .footer-icon {
        display: block;
        margin: 0 24px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    /* General Styling */
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 26px;
    }

    p {
        font-size: 22px;
    }

    /* Hero Section */
    #hero-section {
        padding: 12px 36px;
    }

    #hero-card {
        margin: 24px;
        padding: 24px;
    }

    /* Info Cards */
    #info-cards {
        display: flex;
        justify-items: center;
        margin: 12px;
        padding: 12px 0;
    }

    .info-card h3 {
        font-size: 30px;
        padding: 6px 0px;
        color: var(--dark-text);
    }

    .info-card {
        width: 33%;
        border: var(--light-decoration) solid 2px;
        padding: 12px;
        margin: 0 6px;
        display: flex;
        flex-direction: column;
    }

    .info-card > p {
        color: var(--mid-text);
        font-size: 18px;
    }

    /* Line Up Info Cards */
    #line-up-img {
        width: 80%;
    }

    #line-up-header {
        margin: 12px 12px;
        padding: 12px;
    }

    #line-up-container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
    }

    .line-up-card {
        background-color: var(--light-decoration);
        margin: 12px;
        padding: 24px 6px;
    }

    /* Video Section */
    iframe {
       width: 76%;
       height: 300px;
    }

    #video-cont {
        align-items: center;
    }

     /* Gallery Section */
     #gallery-title {
        margin: 12px 12px;
        padding: 12px;
    }

     #gallery {
        line-height: 0;
        column-count: 3;
        column-gap: 0;
    }

    /* Newsletter Form */
    #newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 24px;
        font-size: 18px;
    }

    form {
        border: solid 4px var(--light-decoration)
    }
    }

/* Desktop */
@media only screen and (min-width: 1024px) {
    /* General Styling */
    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 26px;
    }

    p {
        font-size: 26px;
    }

    /* Buttons */
    .button {
        font-size: 26px;
    }

    /* Hero Section */
    #hero-section {
        height: 680px;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    #hero-card {
        background-color: var(--fade);
        border: none;
        width:fit-content;
        margin: 0 auto;
        padding: 36px;
    }

    /* Line Up Info Cards */
    #line-up-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .artist-image {
        filter: grayscale(75%);
    }

    .line-up-card:hover {
        .artist-image {filter: grayscale(0%);}  
    }

    .title-1, .title-2  {
        font-size: 28px;
    }

    /* Video Section */
    iframe {
        width: 80%;
        height: 500px;
    }

    /* Gallery Section */
    #gallery {
        column-count: 4;
    }
}
