:root {
    --main: #000000;
    --cc1: #404040;
    --cc2: #808080;
    --cc3: #bfbfbf;
    --cc4: #ffffff;
    --link: #ff0000;
}

body {
    font-family: Open Sans;
}

h2, h3 {
    font-family: Oswald, sans-serif;
}

/* Nav Bar */
ul {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: var(--cc1);
}

/* Hero Section */
#nav-logo > h3 {
    font-family: Barrio, sans-serif;
    color: var(--main);
}

/* Info cards */

